<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head> -->


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css"
      integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew=="
      crossorigin="anonymous" />
     
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Credit Engine's weather App </title>
  </head>

<body>

    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
          <a href="../" class="navbar-brand">Credit Engine's Weather App <span style="color: rgb(39, 117, 161);"> 
            </span> </a>
          <a href="https://openweathermap.org" class="navbar-tech">OpenWeather - Get Your API</a>
        </div>
      </div>
      
    
      <br /><br /> <br>
      <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
        <h1 class="display-5">To know the today's weather update</h1>
        <h5>Using Python Language and Django Framework</h5>
        
    

      </div>
 
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">Temperature: {{ city_weather.temperature }}° F</span>
                                        <br>
                                        <span class="subtitle">Pressure: {{ city_weather.pressure }}</span>
                                        <br>
                                        <span class="subtitle">Humidity: {{ city_weather.humidity }}</span>
                                        <br> Description: {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>